<!DOCTYPE html>
<html>
  <head>
    <title>Lab1</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="home">LAB01</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li><%= link_to('Home', controller: 'home') %></li>
              <li><%= link_to('Users', controller: 'users') %></li>
              <li><%= link_to('Blog', controller: 'blog') %></li>
              <li><%= link_to('About', controller: 'about') %></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="#">
                  <span class="glyphicon glyphicon-user"></span>
                  Sign Up</a>
              </li>
              <li>
                <a href="#">
                  <span class="glyphicon glyphicon-log-in"></span>
                  Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="content">
      <%= yield %>
    </div>

    <footer class="nb-footer">
      <div class="container">
            <div class="about">
              <div class="social-media">
                <ul class="list-inline">
                  <li>
                    <a href="http://www.facebook.com/" title="">
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="http://www.twitter.com.com/" title="">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="http://www.plus.google.com/" title="">
                      <i class="fa fa-google-plus"></i>
                    </a>
                  </li>
                </ul>
              </div>
        </div>
      </div>

      <section class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <p>Copyright © 2017. Your Company.</p>
            </div>
            <div class="col-sm-6"></div>
          </div>
        </div>
      </section>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
